$text-color: #aaa;
$bg-color: #ddd;

body {
    background-color: $bg-color;
    font-size: 1.5rem;
    color: $text-color;
    width: 100vw;
    height: 100vh;
}

#time-left, #timer-label {
    color: $text-color;
}
#timer-label {
    font-size: 2rem;
    top: 175px;
}

#start_stop:focus, #reset:focus {
    outline: 0;
}
#start_stop:active, #reset:active {
    outline: none;
}

.container {
    display: block;
    margin: 0 auto;
    margin-top: 20vh;
    width: 100vw;
    text-align: center;
}

.lenght-container {
    display: inline-block;
    text-align: center;
}

.start_stop_reset {
    margin-top: 25px;
}

.length {
    font-size: .9em;
}
p {
    color: darken($text-color, 30%);
}

button {
    margin: 0 10px;
    border: none;
    cursor: pointer;
    color: darken($text-color, 30%);
    outline: none;
}

button:hover {
    box-shadow: 1px 2px 0 .5px lighten($text-color, 15%);
}