@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

$text-color: #aaa;
$bg-color: #ddd;

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 1.5rem;
    color: $text-color;
    background-color: $bg-color;
    font-family: 'Poppins', sans-serif;

    .container {
        width: 100vw;
        margin: 0 auto;
        display: block;
        margin-top: 20vh;
        text-align: center;

        & #time-left, #timer-label {
            color: $text-color;
        }
        
        & #timer-label {
            top: 175px;
            font-size: 2rem;
        }

        & .lenght-container {
            text-align: center;
            display: inline-block;

            & .length {
                font-size: .9em;
            }
        }

        & .start_stop_reset_container {
            margin-top: 25px;

            & #start_stop {
                    cursor: pointer;
                }
        }

        & p {
            color: darken($text-color, 30%);
        }

        & button {
            border: none;
            margin: 0 10px;
            cursor: pointer;
            color: darken($text-color, 30%);

            & button:hover {
                box-shadow: 1px 2px 0 .5px lighten($text-color, 15%);
            }
        }

        #reset {
            color: lighten($text-color, 30%);
        }

        footer {
            text-align: center;
            position: absolute;
            bottom: 10px;
            left: 37%;
            font-size: .55em;

            & a {
                text-decoration: none;
                color: darkgreen;
                &:hover {
                    color: orangered;
                }
            }
        }
    }
}










